@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
}

main {
  display: flex;
}

body {
    background-color: #292b28;
    ;
 }

header {
    background-color: #F8DC3E;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-js {
    width: 5em;
    margin-left: 1em;
}

h1 {
    font-family: 'Poppins', sans-serif;
    color: #2e302d;
    margin-right: 1em;
} 

h2 {
  color:#eee;
  font-family: 'Poppins', sans-serif;
  font-size: 1.1em;
  align-items: center;
  padding: 1em 2.7em;
}

.menu {
  background-color: #3f413e;
  width: 20%;
  padding: 2em .5em 2em 1.6em;
}


/*VERTICAL MENU*/
nav.vertical{
    position:relative;
   
  }
  
  /* ALL UL */
  nav.vertical ul{
    list-style: none;
    
  }
  /* ALL LI */
  nav.vertical li{
    position:relative;
  }
  /* ALL A */
  nav.vertical a{
    display:block;
    color:#eee;
    font-family: 'Poppins', sans-serif;
    text-decoration:none;
    padding:1.6em 1.5em;
    background: #3f413e;
    transition:0.2s;
  

  }
  /* ALL A HOVER */
  nav.vertical li:hover > a{
    background:#F8DC3E;
    color: #3f413e;
    border-radius:.5em ;
  
  }
  
  /* INNER UL HIDE */
  nav.vertical ul ul{
    position:absolute;
    left:0%;
    top:0;
    width:100%;
    visibility:hidden;
    opacity:0;
    transition: transform 0.2s;
    transform: translateX(50px);
  }
  /* INNER UL SHOW */
  nav.vertical li:hover > ul{
    left:100%;
    visibility:visible;
    opacity:1;
    transform: translateX(0px);
  }

body{font:16px/1 sans-serif}

.main-text {
 width: 75%;
 padding: 4em 5em;
}

p{
  font-family: 'Poppins', sans-serif;
  font-size: 1.05em;
  font-weight: 300;
  line-height: 1.8;
}

.const {
  color: turquoise;
}

.name {
  color: white;
}

.equal {
  color: rgb(255, 0, 55)
}

.string {
  color: rgb(255, 255, 102)
}

.log{
  color: rgb(93, 248, 54)
}

.par {
  color: rgb(255, 208, 1)
}