@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #292b28;
    ;
 }

header {
    background-color: #F8DC3E;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-js {
    width: 5em;
    margin-left: 1em;
}

h1 {
    font-family: 'Poppins', sans-serif;
    color: #2e302d;
    margin-right: 1em;
} 


/*VERTICAL MENU*/
nav.vertical{
    position:relative;
    width:26%;
  }
  
  /* ALL UL */
  nav.vertical ul{
    list-style: none;
    
  }
  /* ALL LI */
  nav.vertical li{
    position:relative;
  }
  /* ALL A */
  nav.vertical a{
    display:block;
    color:#eee;
    font-family: 'Poppins', sans-serif;
    text-decoration:none;
    padding:10px 15px;
    background: #2e302d;
    transition:0.2s;
    margin: 1em;
  }
  /* ALL A HOVER */
  nav.vertical li:hover > a{
    background:#F8DC3E;
    color: #2e302d;
  }
  
  /* INNER UL HIDE */
  nav.vertical ul ul{
    position:absolute;
    left:0%;
    top:0;
    width:100%;
    visibility:hidden;
    opacity:0;
    transition: transform 0.2s;
    transform: translateX(50px);
  }
  /* INNER UL SHOW */
  nav.vertical li:hover > ul{
    left:100%;
    visibility:visible;
    opacity:1;
    transform: translateX(0px);
  }

body{font:16px/1 sans-serif}
